
        /* team section */

        .team-content{
            overflow: hidden;
        }
        .team-item{
            float: left;
            width: 30%;
            background-color: #e8e8e8;
            padding: 40px 20px;
            text-align: center;
            z-index: 1;
        }

        .team-item.mg{
            margin: 0 5% ;
        }
        .team-img{
            width: 90%;
            margin: auto;
            position: relative;
        }

        .team-overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: width 0.5s;
        }

        .team-overlay a{
            display: block;
            background-color: #6195ff;
            color: white;
            width: 40px;
            height: 40px;
            margin-left: auto;
        }
        .team-overlay a i{
            line-height: 40px;
        }

        .team-img img{
            width: 100%;
        }
        .team-info-title{
            margin: 10px 0;
            text-transform: capitalize;
            transition: color 0.5s;
        }
        .team-info-text{
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
            transition: color 0.5s;
        }
        .team-item:hover .team-overlay{
            visibility: visible;
            opacity: 1;
        }
        .team-item:hover .team-info-title{
            color: white;
        }
        .team-item:hover .team-info-text{
            color: #6195ff;
        }